<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<style>
.card-body:hover {background-color:#f2f2f2;}
.bg-light1{background-color:#f2f2f2;!important}
</style>
<section class="py-5 bg-primary text-light">
    <div class="container">
        <div class="row">
            <h2>Welcome to Tech Bulletin Prime </h2>
        </div>
    </div>
</section>
<section class="services py-5 bg-light1 text-center">
    <div class="container">
       <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="https://youtu.be/XGjSoau1ZtE" target="_blank" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                    	<h5>Channel Teaser</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="https://youtu.be/PJG8_-5fVCs" target="_blank" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        
                    	<h5>Angular Env Setup</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="https://youtu.be/hiq_Vr6Db4w" target="_blank" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                      
                    	<h5>Npm and it's Installation</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="https://youtu.be/uRB1-8vGLKE" target="_blank" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                      
                    	<h5>Node.js</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   
       </div>
       <div class="row pt-4">
           <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="https://youtu.be/LCJ2AiZs9ls" target="_blank" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                      
                    	<h5>Tomcat Installation</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="https://youtu.be/XdH5FpXeeNY" target="_blank" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                      
                    	<h5>Mysql Installation</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   
       </div>
    
    </div>
</section>
<section class="pt-2 bg-primary text-light">
    <div class="container">
        <div class="row">
            <p>All Rights Reserved</p>
        </div>
    </div>
</section>